<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    
      <p class="secret-text"> <%= user.username %></p>
    <hr>

    <h2>Brunnnnnhhh</h2>
    <h2><%= user.img %> </h2>
    <img src="http://localhost:8000/images/<%= user.img %>" alt="">
    
    <a class="btn btn-light btn-lg" href="/logout/<%= user.username %>" role="button">Log Out</a>

    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
